.head_1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 80%;
}

.cards{
    width: 70%;
    margin-left: 200px;
}

.btn_join{
    width: 95%;
}